<div class="tab-pane" id="ekomi_prc_tab" role="tabpanel">
    {% include "EkomiFeedback::content.smartWidget" with {'customerId': customerId ,'widgetToken': widgetToken, 'productIdentifier': productIdentifier, 'uniqueId': uniqueId} %}
</div>
